body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #282c34;
  color: white;
  height: 100vh;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.container {
  flex: 1;
  text-align: center;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  margin: auto;
}

input,
button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.mensaje {
  font-weight: bold;
  margin-top: 10px;
}

table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #007bff;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
